# ignore build folder
build/

# ignore bin folder
bin/

# temporary cpp file that I might use sometimes
objectBot/src/temp.cpp

# hide .directory file including directory style
.directory

# hide cache
.cache/